
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
  
  .main-banner {
    height: 100vh;
    overflow: visible !important; 
    background-image: url(/public/assets/images/banner-01.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
   object-fit: contain;
    padding: 220px 20% 320px 20%;
    margin-top: 0px;
  }



  
  .main-banner .item-2 {
    background-image: url("/public/assets/images/banner-02.jpg");
  }
  
  .main-banner .item-3 {
    background-image: url("/public/assets/images/banner-03.jpg");
  }
  
  .main-banner .item  {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 30px;
  }

  .main-banner .item  {
    font-style: normal;
    color: #f35525;
  }
  
  .main-banner .item h2 {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 50%;
    margin-bottom: 0px;
  }
  
  .main-banner .owl-dots {
    position: absolute;
    bottom: 60px;
    left: 20%;
  }
  
  .main-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .5s;
  }
  
  .main-banner .owl-dots .active {
    background-color: #f35525;
  }
  
  .main-banner .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50px);
  }
  
  .main-banner .owl-nav .owl-prev i,
  .main-banner .owl-nav .owl-next i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
  }
  
  .main-banner .owl-nav .owl-prev i {
    position: absolute;
    left: 45px;
  }
  
  .main-banner .owl-nav .owl-next i {
    position: absolute;
    right: 45px;
  }
  
  .main-banner .owl-nav .owl-prev i:hover,
  .main-banner .owl-nav .owl-next i:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
  }
  